*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: normal;
}

.header{
    width: 95%;
    height: 400px;
    margin: 20px auto;
    background: linear-gradient(#000,rgba(31,41, 51,0.2));
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 50px;
}
.logo{
    flex-basis: 40%;
    margin-left: 40px;
    font-size: 24px;
    color: #f9faf8;
    position: relative;
}
.logo-img{
    width: 100px;
    height: 80px;
    margin: auto;
    margin-left: 20px;
    padding: 10px;
    border-radius: 20%;
}
.logo span{
    position: absolute;
    top:30%;
}
.nav-links{
    flex-basis: 60%;
    text-align: right;
    font-size: 18px;
    color: #e5e7eb;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
.nav-links ul li a{
    text-decoration: none;
    color: #e5e7eb;
    cursor: pointer;
}
.nav-links ul li a:hover{
    border: 2px solid #3882f6;
    background-color: #e5e7eb;
    color: #1f2937;
    border-radius: 7px;
    transition: 0.4s;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: auto 30px;
}
.hero-text{
    flex-basis: 50%;
    text-align: left;
    width: 80%;
    margin: auto 40px;
}
.hero-text h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}
.hero-btn{
    width: 90px;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: #e5e7eb;
    padding: 5px;
    margin: 10px 0px;
    font-weight: bold;
    cursor: pointer;
}
.hero-btn:hover{
    color: #3882f6;
    transition: 0.4s;
    background-color: #e5e7eb;
}
.hero-img{
    flex-basis: 50%;
    width: 100%;
    height: 200px;
    margin-right: 40px;
}
.hero-img img{
    width: 100%;
    height: 200px;
    border-radius: 5%;
}
.hero-img p{
    color: #e5e7eb;
    text-align: center;
    padding-top: 20%;
}

/*Features section*/
.feature{
    width: 95%;
    height: 50%;
    margin: auto;
    text-align: center;
}
.feature h2{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding: 10px;
    margin-bottom: 20px;
}
.feature-row{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    justify-content: space-between;
}
.feature-col{
    flex-basis: 20%;
    margin: 10px;
    margin-bottom: 10%;
}
.feature-img{
    width: 100%;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}
.feature-img img{
    width: 100%;
    height: 148px;
    border-radius: 7px;
}
.feature-col p{
    font-size: 18px;
    color: #1f2937;
}

/*quote section*/
h2{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #1f2937;
    padding: 10px;
    margin-bottom: 20px;
}
.quote{
    width: 95%;
    height: 330px;
    margin: auto;
    margin-bottom: 20px;
    color: #1f2937;
    background: linear-gradient(rgba(159, 160, 158, 0.829),rgba(194, 191, 197, 0.5)),url(./images/tree.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.quote-text{
    text-align: center;
    margin: 5px;
    padding: 30px 60px;
    
}
.quote-text p{
    width: 88%;
    font-size: 36px;
    font-weight: normal;
    color: #1f2937;
    text-align: left;
    margin: 50px 90px;
    padding: 10px;
}
.quote span{
    top: 75%;
    right: 20%;
    position: absolute;
}
/*Action Section*/
.action{
    width: 95%;
    margin: 20px auto;
    padding: 40px;
    text-align: left;
}
.action-row{
    display: flex;
    width: 90%;
    height: 90px;
    margin: auto;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 5px;
}
.action-col{
    flex-basis: 70%;
    padding: 30px 50px;
}
.action-col h5{
    color: #f9faf8;
    padding-left: 50px;
    margin: auto;
}
.action-col p{
    color: #f9faf8;
    padding-left: 50px;
}
.action-btn{
    flex-basis: 30%;
    text-align: center;
    padding: 25px;
}
.btn{
    width: 90px;
    background-color: #3882f6;
    border-radius: 5px;
    border: 1px solid #f9faf8;
    color: #e5e7eb;
    padding: 5px;
    margin: 10px 0px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    color: #3882f6;
    transition: 0.4s;
    background-color: #e5e7eb;
}
.footer-text{
    width: 95%;
    height: 50px;
    margin: auto;
    margin-bottom: 15px;
    color: #f9faf8;
    background-color: #1f2937;
}
.footer-text h5{
    text-align: center;
    padding: 15px;
}
.link{
    width: 130px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.link a{
    text-decoration: none;
    width: 90px;
    background-color: #3882f6;
    border-radius: 5px;
    border: 1px solid #f9faf8;
    color: #e5e7eb;
    padding: 5px;
    margin: 10px 0px;
    font-weight: bold;
}
